html, body {
  height: 100%;
  width: 100%;
  font-family: 'Slabo 27px', serif;
  background-color: #E2DFD2;
}
.refresh{
  display:none;
  
}
.header {
  font-family: 'Slabo 27px', serif;
  display: flex;
  justify-content: space-around;
  color: #0f65ef;
  font-size:27px;
  border-radius: 5px;
  border: 5px solid white;
}

.logo {
  width: 100px;
  border-radius: 50px;
  border: 5px dotted white;
}

.cover{
  text-align: center;
}

a {
  color: #0f65ef;
  font-weight: bold;
}

.coverPhoto {
  width: 100%;
}

.displayResult{
  text-align: center;
  background-color: #baa0a4;
  border-radius: 5px;
  border: 3px solid white;
}

img{
  width: 100%;
}

button {
  margin-top: 10px;
  color: white;
  background-color: #880d1f;
  font-size: 40px;
  border-radius: 20px;
  border: 8px double black;
  font-family: monospace;
  padding: 20px;
}

.refreshButton{
display: flex;
justify-content: center;
}